<div class="sidebar d-print-none d-block d-xl-block">
    {{ if .IsHome }}
       <!-- Bare forsiden -->
    {{ else }}
       <!-- Bare andre sider -->
    {{ end }}
    <!-- Alle sider -->
    <h3 class="mt-4">{{ T "genCategoryText" }}</h3>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "gen") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>
    <h3 class="mt-4">{{ T "readCategoryText" }}</h3>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "read") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>

    <h3 class="mt-4">{{ T "addCategoryText" }}</h3>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "write") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>
    <!-- <h3 class="mt-4">Nytt fra innholdsleverandører</h3>
    <nav class="nav flex-column">
      <a class="twitter-timeline" data-lang="no" data-height="300" data-theme="light" href="https://twitter.com/VegvesenData?ref_src=twsrc%5Etfw">Tweets by VegvesenData</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </nav>

    <nav class="nav flex-column">
      <div class="feedgrabbr_widget" id="fgid_7be11628b706241cfefd59761"></div>
       <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_7be11628b706241cfefd59761");</script>
      <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
    </nav>
    -->
</div>
