<div class="sidebar d-print-none d-block d-xl-block">
    {{ if .IsHome }}
       <!-- Bare forsiden -->
    {{ else }}
       <!-- Bare andre sider -->
    {{ end }}
    <!-- Alle sider -->
    <h3 class="mt-4">{{ T "genCategoryText" }}</h3>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "gen") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>
    <h3 class="mt-4">{{ T "readCategoryText" }}</h3>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "read") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>

    <h3 class="mt-4">{{ T "addCategoryText" }}</h3>
    <nav class="nav flex-column">
        {{ range first 8 (where (where .Site.Pages "Section" "write") ".Params.hidden" "!=" true) }}
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
        {{ end }}
    </nav>

</div>
