/* SVV overrides */
.img-copyright {
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.svv-position {
  position: relative;
}

footer {
    background-color: #444f55;
    color: #fff3e4;
    font-size: .8rem;
    padding: 30px;
}

footer h5, footer a {
    color: #ff9600!important;
}

.dropdown-menu, .dropdown-item {
    background-color: #444f55;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ed9300;
}
