/* SVV overrides */
.img-copyright {
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
/* Posisjonering av bildetekst */
.svv-position {
  position: relative;
}
/*

Fargesettinger :

  #ececec - SVV lysgrå
  #444f55 - SVV mørkegrå
  #58b02c - SVV grønn
  #008ec2 - SVV blå
  #ed9300 - SVV oransje

*/

/* Topp navbar */
nav.navbar {
  background-color: #444f55!important
}
a.navbar-brand {
  color:   #58b02c!important
}
/* Footer */
footer {
    background-color: #ececec;
    color: #000000;
    font-size: .8rem;
    padding: 30px;
}

/* Sidebar */
h3.mt-4 {
  color: #008ec2!important
}

footer h5, footer a {
    color: #008ec2!important;
}

.dropdown-menu, .dropdown-item {
    background-color: #444f55;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ed9300;
}

/* Endret breakpoint */
.sidebar {
  flex: 0 0 25rem;
}

h2 {
    font-size: 120%;
  color: #008ec2!important
}
h1 {
  color:   #008ec2!important
}

/* Fontstørrelser, innrykk mm på sidebar innhold */

h3.mt-4 {
  font-size: 120%!important;
}

.nav-link {
  padding: 0em 0em 0em 1em;
}

figure.naplogo {
  float: left!important;
  padding: 0.5em;
}
