/* SVV overrides */
.img-copyright {
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
/* Posisjonering av bildetekst */
.svv-position {
  position: relative;
}
/* Fargesettinger */
footer {
    background-color: #444f55;
    color: #fff3e4;
    font-size: .8rem;
    padding: 30px;
}

footer h5, footer a {
    color: #ff9600!important;
}

.dropdown-menu, .dropdown-item {
    background-color: #444f55;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ed9300;
}

/* Endret breakpoint */
.sidebar {
  flex: 0 0 25rem;
}
/* Fontstørrelser, innrykk mm på sidebar innhold */
h3.mt-4 {
  font-size: 120%!important;
}

.nav-link {
  padding: 0em 0em 0em 1em;
}

figure.naplogo {
  float: left!important;
  padding: 0.5em;
}
